.header__content {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 540px) {
  .header__content {
    margin-bottom: 40px;
  }
}
