.cards__delete-button {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 18px;
  height: 19px;
  cursor: pointer;
  background-image: url('../../../images/cards-trash.svg');
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  transition: opacity .2s ease-in-out;
}

.cards__trash:hover {
  opacity: .6;
}
