.header {
  max-width: 320px;
  padding-top: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 540px) {
  .header {
    max-width: calc(282px * 2 + 17px);
    padding-top: 45px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    max-width: calc(1280px - 200px * 2);
  }
}
